/* You can add global styles to this file, and also import other style files */
body{
    background-color:#d7d7d7 ;
}

@media (max-width: 767.98px) {
    .footer .row {
      flex-direction: column; /* Stack columns vertically on smaller screens */
    }
  
    .footer-social-icons {
      justify-content: center; /* Center the social icons */
    }
  }